.notfound {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
}

.notfound__btn {
    width: 100%;
    max-width: 320px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 32px;
}