.header {
    background-color: var(--darkColor);
    padding: 20px 0;
    border-radius: 0 0 42px 42px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__link {
        color: #fff;
        padding: 8px 0;
    }
}

.dropdown-wrapper {
    position: relative;

    &:hover {
        .dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    background-color: #FFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 8px;
    border-radius: 4px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s;
    z-index: 1;

    &.right {
        right: 0;
    }

    &__link {
        color: #000;
    }
}
